html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* Basic */
@-ms-viewport {
  width: device-width;
}

html {
  height: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #ffffff;
  height: 100%;
  min-width: 320px;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
  -webkit-animation: none !important;
  animation: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

/* Spinner */

@-webkit-keyframes spinner-rotate {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
}

@keyframes spinner-rotate {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
}

/* Loader */

@-webkit-keyframes spinner-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spinner-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spinner-hide {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    color: #e5e6e7;
    z-index: 100001;
  }
  99% {
    -webkit-transform: scale(0.5) rotate(360deg);
    transform: scale(0.5) rotate(360deg);
    color: #e5e6e7;
    z-index: 100001;
  }
  100% {
    -webkit-transform: scale(0.5) rotate(360deg);
    transform: scale(0.5) rotate(360deg);
    color: #e5e6e7;
    z-index: -1;
  }
}

@keyframes spinner-hide {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    color: #e5e6e7;
    z-index: 100001;
  }
  99% {
    -webkit-transform: scale(0.5) rotate(360deg);
    transform: scale(0.5) rotate(360deg);
    color: #e5e6e7;
    z-index: 100001;
  }
  100% {
    -webkit-transform: scale(0.5) rotate(360deg);
    transform: scale(0.5) rotate(360deg);
    color: #e5e6e7;
    z-index: -1;
  }
}

@-webkit-keyframes overlay-hide {
  0% {
    opacity: 1;
    z-index: 100000;
  }
  15% {
    opacity: 1;
    z-index: 100000;
  }
  99% {
    opacity: 0;
    z-index: 100000;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes overlay-hide {
  0% {
    opacity: 1;
    z-index: 100000;
  }
  15% {
    opacity: 1;
    z-index: 100000;
  }
  99% {
    opacity: 0;
    z-index: 100000;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

body {
  text-decoration: none;
}

body:before {
  -webkit-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
  animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  color: #e5e6e7;
  content: '\f1ce';
  cursor: default;
  display: block;
  font-size: 2em;
  height: 2em;
  left: 50%;
  line-height: 2em;
  margin: -1em 0 0 -1em;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 2em;
  z-index: -1;
}

body:after {
  -webkit-animation: overlay-hide 1.5s ease-in forwards !important;
  animation: overlay-hide 1.5s ease-in forwards !important;
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

body.is-preload:before {
  -webkit-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
  animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
  z-index: 100001;
}

body.is-preload:after {
  -webkit-animation: none !important;
  animation: none !important;
  opacity: 1;
  z-index: 100000;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  body:before {
    line-height: 2.025em;
  }
}

/* Type */
body, input, textarea, select {
  font-family: "Raleway", "sans-serif";
  font-weight: 400;
  font-size: 18pt;
  line-height: 1.75em;
  color: #39454b;
  letter-spacing: 0.025em;
}

@media screen and (max-width: 1680px) {
  body, input, textarea, select {
    font-size: 15pt;
  }
}

@media screen and (max-width: 1280px) {
  body, input, textarea, select {
    font-size: 13pt;
  }
}

@media screen and (max-width: 980px) {
  body, input, textarea, select {
    font-size: 13pt;
  }
}

@media screen and (max-width: 736px) {
  body, input, textarea, select {
    font-size: 12pt;
    line-height: 1.5em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: inherit;
  letter-spacing: -0.0325em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 2.25em;
  line-height: 1.25em;
  letter-spacing: -0.05em;
}

@media screen and (max-width: 736px) {
  h2 {
    font-size: 1.5em;
  }
}

h3 {
  font-size: 1.2em;
  line-height: 1.25em;
  letter-spacing: -0.05em;
}

strong, b {
  font-weight: 700;
  color: inherit;
}

em, i {
  font-style: italic;
}

a {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: inherit;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

hr {
  border: 0;
  border-top: solid 1px #e5e6e7;
}

blockquote {
  border-left: solid 0.5em #e5e6e7;
  padding: 1em 0 1em 2em;
  font-style: italic;
}

p, ul, ol, dl, table {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1400px;
}

@media screen and (max-width: 1680px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 736px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 360px) {
  .container {
    width: 100%;
  }
}

.wrapper {
  padding: 5em 0 3em 0;
}

.wrapper.style1 {
  background-color: #ffffff;
}

.wrapper.style2 {
  background-color: #f5f6f7;
}

.wrapper.style3 {
  background-color: #333;
  color: #fff;
}

#nav {
  background-color: #ffffff;
  cursor: default;
  position: fixed;
  border-bottom: solid 1px #e5e6e7;
  height: 3em;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
}

#nav > .logo > h3 {
  position: absolute;
  left: 1em;
  top: 0;
  line-height: 2.5em;
}

#nav > .list {
  position: absolute;
  right: 1em;
  top: 0;
  line-height: 2em;
}

#nav > .list > ul > li {
  display: inline-block;
  margin-left: 1em;
}

#nav > .list > ul > li:first-child {
  margin-left: 0;
}

#nav > .list > ul > li a {
  text-decoration: none;
  display: block;
  padding: 0 0.5em;
}

#nav > .list > ul > li:hover a {
  color: #657a85;
}

@media screen and (max-width: 980px) {
  #nav {
    position: absolute;
  }
  #nav > .logo {
    display: none;
  }
  #nav > .list {
    left: 1em;
  }
  #nav > .list > ul > li {
    margin-left: 0.25em;
  }
}

#home {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../../assets/images/welcome_field.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../../assets/images/welcome_field.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#home > .content {
  text-align: center;
  position: relative;
  color: #fff;
}

#home > .content a > .button {
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../../assets/images/Arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border: solid 2px #e5e6e7;
  border-radius: 3.5em;
  color: inherit;
  padding: 1.75em 1.75em;
  margin-top: 0.75em;
  left: calc(50% - 1.75em);
}

#home > .content a > .button:hover {
  background-color: rgba(229, 230, 231, 0.25);
}

#home > .content a > .button:active {
  background-color: rgba(229, 230, 231, 0.375);
}

#do {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../../assets/images/mountains.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../../assets/images/mountains.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#do > .container > .content {
  background-color: #ffffff;
  padding: 1.5em 1em;
  width: 50%;
}

#do > .container > .content.right {
  margin-left: 50%;
}

@media screen and (max-width: 980px) {
  #do > .container > .content {
    width: 100%;
  }
  #do > .container > .content.right {
    margin-left: 0;
  }
}

#about {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../../assets/images/photographer.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../../assets/images/photographer.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about > .container > .content {
  background-color: #ffffff;
  padding: 1.5em 1em;
  width: 50%;
}

@media screen and (max-width: 980px) {
  #about > .container > .content {
    width: 100%;
  }
}

#work > .container > h2, #work > .container p {
  text-align: center;
}

#work > .container > .photos {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#work > .container > .photos > .item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 50%;
  max-width: 100%;
}

#work > .container > .photos > .item.one {
  background-image: url("../../assets/images/airport.jpg");
}

#work > .container > .photos > .item.two {
  background-image: url("../../assets/images/asia.jpg");
}

#work > .container > .photos > .item.three {
  background-image: url("../../assets/images/cloud.jpg");
}

#work > .container > .photos > .item.four {
  background-image: url("../../assets/images/forest.jpg");
}

#work > .container > .photos > .item.five {
  background-image: url("../../assets/images/london.jpg");
}

#work > .container > .photos > .item.six {
  background-image: url("../../assets/images/penguin.jpg");
}

#work > .container > .photos > .item:hover {
  cursor: pointer;
  opacity: 0.95;
}

@media screen and (max-width: 980px) {
  #work > .container > .photos > .item {
    width: 100%;
  }
}

#contact > .container > h2, #contact > .container p {
  text-align: center;
}

#contact > .container > .form {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 1.5em 1em;
}

#contact > .container > .form > .field {
  -moz-flex-grow: 0;
  -ms-flex-grow: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-shrink: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  margin: 0 0 1em 0;
}

#contact > .container > .form > .field.half {
  width: calc(50% - 0.5em);
  margin-left: 1em;
}

#contact > .container > .form > .field.half:first-child {
  margin-left: 0em;
}

@media screen and (max-width: 980px) {
  #contact > .container > .form > .field.half {
    width: 100%;
    margin-left: 0;
  }
}

input[type="text"], input[type="email"], textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: #39454b;
  display: block;
  width: 100%;
  padding: 0.65em 0.75em;
  background: none;
  border: solid 2px #666666;
  border-radius: 0.5em;
  outline: none;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  border-color: #333;
}

textarea {
  min-height: 16em;
}

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background-color: #333;
  border: 0;
  border-radius: 0.5em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 3.5em;
  line-height: 3.5em;
  outline: 0;
  padding: 0 5em 0 5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 0.75em;
  font-family: "Raleway", "sans-serif";
}

button:hover {
  background-color: #3b3b3b;
}

button:active {
  background-color: #2b2b2b;
}

#footer {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */