#do {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../../assets/images/mountains.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    @include vendor('display', 'flex');
    @include vendor('align-items', 'center');
	@include vendor('justify-content', 'center');

    > .container {
        
        > .content {
            background-color: _palette(bg);
            padding: 1.5em 1em;
            width: 50%;

            &.left {
            }

            &.right {
                margin-left: 50%;
            }
        }

        @include breakpoint('<=medium') {
			> .content {
                width: 100%;

                &.right {
                    margin-left: 0;
                }
            }
		}
    }
}